.nav {
  width: 400px;
  margin: 0 auto 20px;
  
}

.list {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.listItem {
  /* margin: 5px 20px; */
  width: 100px;
  height: 100px;
  background: linear-gradient(to right, #05FBFF, #4a32ff);
  border-radius: 50%;
  color: #78bdfd;
  display: inline-block;
  font-size: 20px;
  padding: 1px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;


}

.link {
  width: 90px;
  height: 90px;
  vertical-align: middle;
  color: rgb(126, 99, 250);
  /* padding: 0px 20px; */
  text-decoration: none;
  background-color: azure;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activeLink {
  color: rgb(47, 0, 255);
  font-weight: bold;
}